[submodule "GoVector"]
	path = GoVector
	url = git@github.com:jmcmenamy/GoVector.git
[submodule "disviz"]
	path = disviz
	url = git@github.com:jmcmenamy/disviz.git
[submodule "etcd"]
	path = etcd
	url = git@github.com:jmcmenamy/etcd.git
	branch = fix-lease-expiration
[submodule "raft"]
	path = raft
	url = git@github.com:jmcmenamy/raft.git
[submodule "6.5840_raft_implementation"]
	path = 6.5840_raft_implementation
	url = git@github.com:jmcmenamy/6.5840_raft_implementation.git
	ignore = all
